body {
  margin: 0;
  background-color: #b8c4d6;
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  padding: 30px 0;
  h1 {
    font-size: 40px;
    text-align: center;
  }
}
.container {
  max-width: 1054px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  .ant-pagination-options {
    display: block;
  }
  .defaultTable {
    .ant-table-wrapper {
      .ant-table-thead {
        > tr {
          &:first-child {
            th {
              &:last-child,
              &:first-child {
                border-radius: 0;
              }
            }
          }
          > th {
            font-family: inherit;
            background-color: #fff;
            border-bottom: 3px solid #f2f4f9;
            line-height: 16px;
            color: #bfc4d1;
            border-radius: 0;
          }
        }
        .ant-table-cell {
          &::before {
            content: none !important;
          }
          &.ant-table-selection-column {
            padding: 3.5px;
          }
        }
      }
      .ant-table-tbody {
        background-color: red !important;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        > tr {
          &:hover {
            td {
              cursor: pointer;
              background-color: #e4f1ff;
              [class*="filterIcon"] {
                visibility: visible;
              }
            }
          }
          > td {
            font-family: inherit;
            background-color: #fff;
            border-bottom: 3px solid #f2f4f9;
            line-height: 19px;
            color: #364364;
          }
        }
        .ant-table-row-selected {
          td {
            background-color: #fafbff;
          }
        }
      }
    }
  }
}

.image {
  width: 64px;
  height: 64px;
}

.filters {
  display: flex;
  .search {
    margin-right: 10px;
    width: calc(50% - 5px);
  }
  .types {
    width: calc(50% - 5px);
    .ant-select {
      width: 100%;
    }
  }
}
.pokemonName {
  width: fit-content;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.infoModal {
  .mainInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .imageBig {
      width: 128px;
      height: 128px;
    }
    .types {
      display: flex;
      width: 100%;
      .type {
        padding: 0 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px;
        color: #fff;
      }
    }
    .stats {
      span {
        margin-left: 5px;
        color: #aaa;
      }
    }
  }
  .mainStats {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.types {
  .type {
    &.normal {
      background-color: #aa9;
    }
    &.fire {
      background-color: #f42;
    }
    &.water {
      background-color: #39f;
    }
    &.electric {
      background-color: #fc3;
    }
    &.grass {
      background-color: #7c5;
    }
    &.ice {
      background-color: #6cf;
    }
    &.fighting {
      background-color: #b54;
    }
    &.poison {
      background-color: #a59;
    }
    &.ground {
      background-color: #db5;
    }
    &.flying {
      background-color: #89f;
    }
    &.psychic {
      background-color: #f59;
    }
    &.bug {
      background-color: #ab2;
    }
    &.rock {
      background-color: #ba6;
    }
    &.ghost {
      background-color: #66b;
    }
    &.dragon {
      background-color: #76e;
    }
    &.dark {
      background-color: #754;
    }
    &.steel {
      background-color: #aab;
    }
    &.fairy {
      background-color: #e9e;
    }
  }
}
@media (max-width: 480px) {
  .image {
    width: 32px !important;
    height: 32px !important;
  }
  .ant-table-thead {
    .ant-table-cell {
      padding: 4px !important;
      font-size: 12px !important;
    }
  }
  .ant-table-tbody {
    .ant-table-cell {
      padding: 0 !important;
      font-size: 13px !important;
    }
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    .search {
      margin-right: 0px;
      width: 100% !important;
    }
    .types {
      width: 100% !important;
      margin-top: 15px;
    }
  }
}
